@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap');

/*============= Basic resets =============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: lato, sans-serif;
  color: #222;
}

/* Components */

/*==== navigation components ====*/

.navigation {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  /* background: red; */
  display: flex;
  justify-content: space-around;
}

.nav-group-left {
  /* gap: 5rem; */
  display: flex;
}

.navigation-logo {
  height: 100%;
  /* width: 19.7rem; */
}

.navigation-logo img {
  height: 100%;
  width: 19.2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  align-self: center;
  gap: 5rem;
}

.nav-link {
}

.nav-link a {
  color: #222;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.2s ease-in;
  display: block;
}

.nav-link a:hover {
  color: #d19439;
}

.navigation-cta {
  display: flex;
  align-self: center;
  gap: 3rem;
}

.menu {
  width: 3rem;
  height: 2rem;
  align-self: center;
}

/*========== btn component =========*/
.btn {
  font-size: 1.6rem;
  border: 1px solid #d19439;
  padding: 0.9rem 2rem;
  border-radius: 1.5rem;
}

.btn__primary {
  background-color: #d19439;
  color: white;
  transition: background-color 0.2s ease-in;
}

.btn__primary:hover {
  background-color: #fff;
  color: #222;
}

.btn__secondary {
  background-color: #fff;
  color: #222;
  transition: background-color 0.2s ease-in;
}

.btn__secondary:hover {
  background-color: #d19439;
  color: #fff;
}

/*======= slide component =========*/
.slide-group {
  display: flex;
}

.slide-box {
  position: relative;
  padding: 1.5rem 2rem 0;
  background-color: #f5f5f5;
  width: 22.9rem;
  min-height: 10.6rem;
  /* max-width: 23rem; */
  border: 1px solid #f5f5f5;
  border-radius: 1.5rem;
  margin-right: 1.5rem;
}

.slide-box .slidetrack {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
}

.slide-title {
  font-size: 14px;
  color: #757575;
  /* margin-bottom: 1rem; */
}

.slide-info {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
}

.slide-info__text {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}

.slide-footer {
  color: #162e40;
  font-size: 1.2rem;
  /* position: absolute;
  bottom: 0; */
}

.next {
  position: absolute;
  bottom: 1.1rem;
  left: 50%;
  transform: translate(-50%);
  width: 7.3rem;
  height: 7.3rem;
  cursor: pointer;
}

/*========= Header Metric  ==========*/

.header-metric {
  position: absolute;
  bottom: -6.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 84.7rem;
  padding: 1.4rem 5.1rem;
  background-color: #d19439;
  border-radius: 2rem;
  color: white;
  text-align: center;
}

.header-metric-group {
  width: 33.3%;
}

.header-metric-group:not(:last-of-type) {
  border-right: 1px solid rgba(189, 189, 189, 0.7);
}

.header-metric__title {
  color: #fff;
  font-size: 3.6rem;
  line-height: 5rem;
  font-weight: 600;
}

.header-metric__info {
  color: #f5f5f5;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

/*Typography */
.heading__primary {
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3.2rem;
  width: 50.4rem;
}

/* Utilities */
.hidden {
  display: none !important;
}
/* layout */
/*===== header ====== */
.header {
  position: relative;
  width: 100%;
  height: 92vh;
  padding: 10rem 5.2rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('./img/header.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-slide-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  /* min-height: 30rem; */
  padding: 5rem 1.6rem 11.4rem;
  margin-top: 5rem;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.32) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  box-shadow: 0px 4px 24px rgba(212, 175, 156, 0.25);
  backdrop-filter: blur(22.5px);
  border-radius: 3rem;
}
/* Media queries */

/* MQ for navigation */
@media screen and (max-width: 1000px) {
  .navigation {
    justify-content: space-between;
    padding-right: 5rem;
  }
  .nav-links {
    display: none;
  }
  .navigation-cta {
    display: none;
  }
  .menu {
    display: block !important;
  }
}
/* MQ for slider */

@media screen and (max-width: 1679px) {
  .slide-group--3 {
    display: none;
  }
}

@media screen and (max-width: 1113px) {
  .slide-group--2 {
    display: none;
  }
}

@media screen and (max-width: 671px) {
  .slide-group {
    width: 90%;
    /* min-width: 30rem; */
    margin: 0 auto;
  }

  .heading__primary {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 443px) {
  .slide-group {
    flex-wrap: wrap;
    justify-content: center;
  }

  .next {
    display: none;
  }

  .slide-box:not(:first-of-type) {
    margin-top: 1.5rem;
  }

  .slide-box .slidetrack {
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-slide-container {
    padding: 5rem 1.6rem 2rem;
  }

  .slide-box {
    margin-right: 0;
  }
}

/* MQ for header metric */

@media screen and (max-width: 960px) {
  .header-metric {
    display: none;
  }
  .slide-group--2,
  .slide-group--3 {
    display: none;
  }
}
