@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap');

/*============= Basic resets =============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: lato, sans-serif;
  color: #222;
}

/* Components */

/*==== navigation components ====*/

.navigation {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  /* background: red; */
  display: flex;
  justify-content: space-around;
}

.nav-group-left {
  /* gap: 5rem; */
  display: flex;
}

.navigation-logo {
  height: 100%;
  /* width: 19.7rem; */
}

.navigation-logo img {
  height: 100%;
  width: 19.2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  align-self: center;
  gap: 5rem;
}

.nav-link {
}

.nav-link a {
  color: #222;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.2s ease-in;
  display: block;
}

.nav-link a:hover {
  color: #d19439;
}

.navigation-cta {
  display: flex;
  align-self: center;
  gap: 3rem;
}

.menu {
  width: 3rem;
  height: 2rem;
  align-self: center;
}

/*========== btn component =========*/
.btn {
  font-size: 1.6rem;
  border: 1px solid #d19439;
  padding: 0.9rem 2rem;
  border-radius: 1.5rem;
}

.btn__primary {
  background-color: #d19439;
  color: white;
  transition: background-color 0.2s ease-in;
}

.btn__primary:hover {
  background-color: #fff;
  color: #222;
}

.btn__secondary {
  background-color: #fff;
  color: #222;
  transition: background-color 0.2s ease-in;
}

.btn__secondary:hover {
  background-color: #d19439;
  color: #fff;
}

/*======= slide component =========*/
.slide-group {
  display: flex;
}

.slide-box {
  position: relative;
  padding: 1.5rem 2rem 0;
  background-color: #f5f5f5;
  width: 22.9rem;
  min-height: 10.6rem;
  /* max-width: 23rem; */
  border: 1px solid #f5f5f5;
  border-radius: 1.5rem;
  margin-right: 1.5rem;
}

.slide-box .slidetrack {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
}

.slide-title {
  font-size: 14px;
  color: #757575;
  /* margin-bottom: 1rem; */
}

.slide-info {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
}

.slide-info__text {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}

.slide-footer {
  color: #162e40;
  font-size: 1.2rem;
  /* position: absolute;
  bottom: 0; */
}

.next {
  position: absolute;
  bottom: 1.1rem;
  left: 50%;
  transform: translate(-50%);
  width: 7.3rem;
  height: 7.3rem;
  cursor: pointer;
}

/*======== Service card component  ========*/
.service-card {
  position: relative;
  padding: 5.8rem 2.2rem 1rem;
  width: 25.4rem;
  min-width: 25rem;
  text-align: center;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(14, 31, 53, 0.12);
  margin-top: 5rem;
}

.service-card:not(:last-of-type) {
  margin-right: 4rem;
}

.service-card__image {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.service-card__heading {
  font-family: 'Proxima Nova', lato, sans-serif;
  color: #162e40;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

.service-card__paragraph {
  font-size: 1.8rem;
}

/*========= Header Metric  ==========*/

.header-metric {
  position: absolute;
  bottom: -6.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 84.7rem;
  padding: 1.4rem 5.1rem;
  background-color: #d19439;
  border-radius: 2rem;
  color: white;
  text-align: center;
}

.header-metric-group {
  width: 33.3%;
}

.header-metric-group:not(:last-of-type) {
  border-right: 1px solid rgba(189, 189, 189, 0.7);
}

.header-metric__title {
  color: #fff;
  font-size: 3.6rem;
  line-height: 5rem;
  font-weight: 600;
}

.header-metric__info {
  color: #f5f5f5;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

/*======= Top destination card component  =======*/
.topdest-card {
  position: relative;
  width: 29rem;
  height: 27.8rem;
  /* background: white; */
  background-image: url('./img/Kenya.svg');
  background-size: cover;
  margin: 2rem;
  border-radius: 2.4rem 2.4rem 2rem 2rem;
}

.topdest-card--uae {
  background-image: url('./img/UAE.svg');
}

.topdest-card--nig {
  background-image: url('./img/Nigeria.svg');
}

.topdest-card--egy {
  background-image: url('./img/Egypt.svg');
}

.topdest-card__caption {
  width: 100%;
  background-color: #d19439;
  border-radius: 0 0 2rem 2rem;
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  text-align: center;
  /* font-weight: 400; */
  color: white;
  line-height: 5rem;
}

.topdest-card__caption--blue {
  background-color: #162e40;
}

/*Typography */
.heading__primary {
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3.2rem;
  width: 50.4rem;
}

/* Utilities */
.hidden {
  display: none !important;
}

.color-primary {
  color: #d19439;
}

.text-center {
  text-align: center;
}
/* layout */
/*===== header ====== */
.header {
  position: relative;
  width: 100%;
  min-height: 92vh;
  padding: 10rem 5.2rem 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('./img/header.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-slide-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  /* min-height: 30rem; */
  padding: 5rem 1.6rem 11.4rem;
  margin-top: 5rem;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.32) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  box-shadow: 0px 4px 24px rgba(212, 175, 156, 0.25);
  backdrop-filter: blur(22.5px);
  border-radius: 3rem;
}

/* Sections */

/*============ section About =========*/
.section-about {
  min-height: 30rem;
  margin: 1rem 0;
  padding: 10rem 16rem;
  overflow-x: hidden;
}

.section-container {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* gap: 16.3rem; */
}

.section-text {
  width: 50.3rem;
  margin-right: 5rem;
  align-self: center;
}

.section-heading {
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 5rem;
  margin-bottom: 3rem;
}

.section-paragraph {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #222;
  margin-bottom: 2.2rem;
}

.section-image {
  position: relative;
  /* flex-shrink: 1; */
}
.section-image__img {
  width: 100%;
  height: 100%;
}

.doodle {
  position: absolute;
  right: -70%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 100%;
  /* height: 100%; */
}

/*============= Section Service ===========*/
.section-service {
  /* min-height: 30rem; */
  /* background: red; */
  /* margin: 1rem 0; */
  padding: 5rem 0rem;
}

.section-service-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-heading--service {
  margin-bottom: 7rem;
}

/*=========== Section-Topdest ============*/
.section-topdest {
  min-height: 30rem;
  padding: 5rem 16rem;
  /* background: red; */
}

.section-topdest-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media queries */

/* MQ for navigation */
@media screen and (max-width: 1000px) {
  .navigation {
    justify-content: space-between;
    padding-right: 5rem;
  }
  .nav-links {
    display: none;
  }
  .navigation-cta {
    display: none;
  }
  .menu {
    display: block !important;
  }
}
/* MQ for slider */

@media screen and (max-width: 1679px) {
  .slide-group--3 {
    display: none;
  }
}

@media screen and (max-width: 1113px) {
  .slide-group--2 {
    display: none;
  }
}

@media screen and (max-width: 671px) {
  .hero-slide-container {
    padding: 5rem 1.6rem 5rem;
  }
  .next {
    display: none;
  }
  .slide-group {
    width: 90%;
    /* min-width: 30rem; */
    margin: 0 auto;
  }

  .heading__primary {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 443px) {
  .slide-group {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slide-box:not(:first-of-type) {
    margin-top: 1.5rem;
  }

  .slide-box .slidetrack {
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-slide-container {
    padding: 5rem 1.6rem 2rem;
  }

  .slide-box {
    margin-right: 0;
  }
}

/* MQ for header metric */

@media screen and (max-width: 960px) {
  .header-metric {
    display: none;
  }
  .slide-group--2,
  .slide-group--3 {
    display: none;
  }
}

/* MQ for section-about */

@media screen and (max-width: 870px) {
  .section-about {
    padding: 10rem 0;
  }
  .section-container {
    flex-direction: column;
    align-items: center;
  }

  .section-text {
    width: 70%;
    margin: 0 auto;
  }

  .section-image {
    width: 80%;
  }

  .section-heading {
    text-align: center;
  }

  .section-paragraph {
    text-align: center;
  }

  .doodle {
    display: none;
  }
}

/* MQ for section-service */
@media screen and (max-width: 588px) {
  .section-about {
    margin: 0 0;
    padding: 5rem 0;
  }

  .section-service-container {
    flex-direction: column;
    align-items: center;
  }

  .service-card:not(:last-of-type) {
    margin-right: 0;
  }
}

/* MQ for section-topdest */
@media screen and (max-width: 984px) {
  .section-topdest {
    padding: 5rem 5rem;
  }
  .section-topdest-container {
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
  }
  .topdest-card {
    flex-shrink: 1;
  }
}

@media screen and (max-width: 500px) {
  .topdest-card {
    width: 100%;
  }
}
